.star-rating {
    display: flex;
    direction: row;
    font-size: 2em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating input:checked ~ label,
.star-rating input:hover ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107;
}
